In [1]:
import pandas as pd
from pandas import DataFrame
from pathlib import Path
from typing import Union
import numpy as np

In [30]:
df3=pd.read_csv("/nfs/backup/wb_mci_fraude/jpraimundo/faast_advanced_course/assignments/life_expectancy/tests/fixtures/eu_life_expectancy_raw.tsv", sep="[\t,]", engine="python")

In [38]:
df3.head(5)

,unit,sex,age,region,2021,2020,2019,2018,2017,2016,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
0,YR,F,Y10,EA18,:,74.5 p,75.2 bep,75.0 ep,74.9 b,75.0,...,:,:,:,:,:,:,:,:,:,:
1,YR,F,Y10,EA19,:,74.4 p,75.2 bep,74.9 ep,74.8 b,74.9,...,:,:,:,:,:,:,:,:,:,:
2,YR,F,Y10,EE,:,73.1,73.2,72.9,72.9,72.5,...,65.9,66.4,66.5,66.0,66.1,66.4,65.8,65.3,65.5,65.6
3,YR,F,Y10,EEA30_2007,:,:,:,74.0 ep,73.9 b,74.0,...,:,:,:,:,:,:,:,:,:,:
4,YR,F,Y10,EEA31,:,:,:,74.0 ep,73.9 b,74.0,...,:,:,:,:,:,:,:,:,:,:

In [41]:
def clean_data(df, region) -> DataFrame:
    '''
    Function which cleans a DataFrame by:

    - Replacing ":" with NaN values
    - Renaming column "geo\time" for "region"
    - unpivot the dataframe
    - removing characters from value column
    - converting columns to the respetive type
    - dropping the null values
    - filtering the dataframe by region

    :param data: DataFrame to be cleaned and filtered.
    :return DataFrame: The clean dataframe.
    '''

    print("\nCleaning data...")
    
    # rename "geo\time" column with "region"
    df.columns.values[3] = 'region'
    
    # replace ":" as NaN
    df_replaced_nulls = df.replace(to_replace=':.*', value=np.nan, regex=True)
    
    # unpivot dataframe
    df_unpivot = pd.melt(
                    df_replaced_nulls, 
                    id_vars=list(df_replaced_nulls.iloc[:, :3].columns),
                    value_vars=list(df_replaced_nulls.iloc[:, 3:].columns),
                    var_name='year'
                )
    
    # remove strings from value column
    df_unpivot['value'] = df_unpivot['value'].str.replace('[^\d\-+\.]', '', regex=True)
    
    # # convert value column into float
    df_unpivot['value'] = df_unpivot['value'].apply(pd.to_numeric, errors="raise")

    # convert "year" column to integer
    df_unpivot['year'] = df_unpivot['year'].astype(int)

    # drop nulls from "value" column
    df_clean = df_unpivot.dropna()

    # filter dataframe by desire region
    df_clean_filt = df_clean[df_clean["region"] == region]

    return df_clean_filt

In [ ]:
df_clean = clean_data(df3, "PT")
df_clean

:

In [88]:
cat_col = df3.iloc[:, 0]
cat_cols = cat_col.str.split(',', n=4, expand=True)
#cat_cols_renamed = cat_cols.set_axis(["unit","sex","age","region"], axis=1)
cat_cols

     0
0   YR
1   YR
2   YR
3   YR
4   YR
5   YR
6   YR
7   YR
8   YR
9   YR
10  YR
11  YR
12  YR
13  YR
14  YR
15  YR
16  YR
17  YR
18  YR
19  YR
20  YR
21  YR
22  YR
23  YR
24  YR
25  YR
26  YR
27  YR

In [76]:
df_test = df.iloc[:, 0].str.split(',', n=4, expand=True) \
                    .set_axis(["unit","sex","age","region"], axis=1)

df_test.head()

  unit sex age region
0   YR   F  Y1     AL
1   YR   F  Y1     AM
2   YR   F  Y1     AT
3   YR   F  Y1     AZ
4   YR   F  Y1     BE

In [5]:
def load_data(input_path: Union[str, Path], delimiter: str = "[\t]") -> DataFrame:
    """
    Function wich loads the tsv file.

    :param inputh_path: The path where the tsv file is stored.
    :return df: Readed DataFrame.
    """
    print("\nLoading data...")

    return pd.read_csv(input_path, sep=delimiter, engine='python')

NameError: name 'Union' is not defined

In [28]:


def load_data(input_path: Union[str, Path], delimiter: str = "[\t]") -> DataFrame:
    """
    Function wich loads the tsv file.

    :param inputh_path: The path where the tsv file is stored.
    :return df: Readed DataFrame.
    """
    print("\nLoading data...")


    return pd.read_csv(input_path, sep=delimiter)

In [33]:
df = load_data(FIXTURES_DIR / "eu_life_expectancy_raw.tsv")

Loading data...

/nfs/backup/wb_mci_fraude/jpraimundo/venv/lib/python3.7/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [34]:
df

,"unit,sex,age,geo\time",2021,2020,2019,2018,2017,2016,2015,2014,2013,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
0,"YR,T,Y44,TR",:,:,36.9,36.8,36.5,36.2,36.3,36.3,36.4,...,:,:,:,:,:,:,:,:,:,:
1,"YR,F,Y60,BE",:,25.1,26.4,26.1,26.1,26.2,25.7,26.2,25.7,...,19.2,19.0,19.3,19.2,19.1,19.3,18.6,18.8,19.1,18.5
2,"YR,T,Y65,BY",:,:,:,16.2,16.1,16.1,16.0,15.9,15.6,...,:,:,:,:,:,:,:,:,:,:
3,"YR,T,Y51,EEA30_2007",:,:,:,31.8 ep,31.8 b,31.8,31.5 b,31.8 b,31.4,...,:,:,:,:,:,:,:,:,:,:
4,"YR,M,Y52,BY",:,:,:,21.4,21.4,21.4,21.2,21.0,20.6,...,:,:,:,:,:,:,:,:,:,:
5,"YR,T,Y82,MK",:,5.0,5.6,5.7,5.5,5.4,5.2,5.4,5.4,...,:,:,:,:,:,:,:,:,:,:
6,"YR,F,Y17,LV",:,63.4,63.6,63.1,63.1,63.1,63.0,63.0,62.5,...,:,:,:,:,:,:,:,:,:,:
7,"YR,F,Y72,MK",:,10.7,11.6,11.8,11.3,11.3,10.9,11.0,11.2,...,:,:,:,:,:,:,:,:,:,:
8,"YR,F,Y24,EA18",:,60.6 p,61.3 bep,61.1 ep,61.0 b,61.1,60.7 b,61.2 b,60.8,...,:,:,:,:,:,:,:,:,:,:
9,"YR,F,Y34,SI",:,49.8,50.9,50.8,50.6,50.8,50.4,50.6,50.2,...,:,:,:,:,:,:,:,:,:,:
10,"YR,T,Y15,BG",:,59.1,60.8,60.6,60.5,60.5,60.4,60.3,60.7,...,58.3,59.1,58.6,59.3,59.3,59.5,59.0,58.2,59.1,58.8
11,"YR,M,Y41,SM",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
12,"YR,F,Y53,NL",:,31.4,32.0,31.7,31.7,31.7,31.6,31.9,31.6,...,:,:,:,:,:,:,:,:,:,:
13,"YR,M,Y58,DE",:,23.4,23.7,23.4,23.5,23.5,23.2,23.6,23.2,...,:,:,:,:,:,:,:,:,:,:
14,"YR,F,Y77,AL",:,8.2,8.9,8.8,8.4,8.7,8.4,9.0,9.1,...,:,:,:,:,:,:,:,:,:,:
15,"YR,F,Y34,EU28",:,:,:,50.3 ep,50.2 b,50.3,49.9 b,50.3 b,50.0,...,:,:,:,:,:,:,:,:,:,:
16,"YR,F,Y56,EEA30_2007",:,:,:,29.4 ep,29.3 b,29.4,29.1 b,29.5 b,29.1,...,:,:,:,:,:,:,:,:,:,:
17,"YR,M,Y79,FX",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
18,"YR,T,Y53,EU27_2007",:,:,:,30.0 ep,30.0 b,30.0,29.7 b,30.0 b,29.7,...,:,:,:,:,:,:,:,:,:,:
19,"YR,T,Y31,MK",:,44.2,46.5,46.5,46.2,45.9,45.6,45.7,45.8,...,:,:,:,:,:,:,:,:,:,:
20,"YR,F,Y8,DE_TOT",:,75.8,76.0,75.6,75.7,75.8,75.4,75.9,75.3,...,67.1,67.1,67.6,67.4,67.3,67.5,67.0,67.0,66.9,66.4
21,"YR,M,Y60,LV",:,17.1,17.5,17.2,17.0,17.0,17.2,16.7,16.8,...,:,:,:,:,:,:,:,:,:,:
22,"YR,T,Y70,EEA31",:,:,:,16.2 ep,16.1 b,16.2,15.9 b,16.2 b,16.0,...,:,:,:,:,:,:,:,:,:,:
23,"YR,T,Y53,FI",:,31.0,31.0,30.7,30.6,30.4,30.5,30.3,30.2,...,:,:,:,:,:,:,:,:,:,:
24,"YR,M,Y48,EU27_2007",:,:,:,32.2 ep,32.1 b,32.1,31.8 b,32.0 b,31.7,...,:,:,:,:,:,:,:,:,:,:
25,"YR,M,Y24,IS",:,58.3,58.0,57.8,57.6,56.9,57.8,57.6,56.9,...,49.5,50.6,49.4,49.2,50.0,49.6,48.9,50.0,50.0,:
26,"YR,T,Y23,PT",:,58.6,59.3,59.0,59.1,58.8,58.8,58.8,58.4,...,48.9,49.7,49.4,49.1,49.7,49.7,49.6,49.8,49.8,49.6
27,"YR,M,Y5,AT",:,74.3,75.0,74.7,74.7,74.7,74.1,74.4,74.0,...,:,:,:,:,:,:,:,:,:,:
28,"YR,F,Y78,HR",:,9.2,9.7,9.5,9.2,9.4,9.0,9.3,9.3,...,:,:,:,:,:,:,:,:,:,:
29,"YR,F,Y68,FX",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
30,"YR,T,Y10,CH",:,73.5,74.4,74.2,74.0,74.1,73.4,73.7,73.3,...,64.3,64.3,64.5,64.2,64.1,64.1,63.3,63.4,63.8,63.5
31,"YR,T,Y71,EEA31",:,:,:,15.5 ep,15.4 b,15.5,15.2 b,15.5 b,15.2,...,:,:,:,:,:,:,:,:,:,:
32,"YR,T,Y77,PL",:,9.7 ep,10.8,10.5,10.6,10.8,10.4,10.7,10.3,...,:,:,:,:,:,:,:,:,:,:
33,"YR,F,Y50,PT",:,35.2,36.0,35.7,35.7,35.5,35.4,35.6,35.2,...,26.3,27.0,26.9,26.6,27.1,27.0,26.9,27.2,27.1,26.9
34,"YR,M,Y57,PT",:,24.0,24.7,24.4,24.5,24.2,24.3,24.4,24.0,...,16.8,17.5,17.3,17.0,17.5,17.7,17.5,17.9,18.0,17.8
35,"YR,M,Y70,GE",:,:,10.7,10.7,10.4,10.1,10.5,11.4,:,...,:,:,:,:,:,:,:,:,:,:
36,"YR,T,Y68,ME",:,13.6,14.5,14.3,14.2,14.0,14.0,14.3,14.2,...,:,:,:,:,:,:,:,:,:,:
37,"YR,M,Y76,IS",:,11.8,11.5,11.6,11.5,10.6,11.3,11.1,10.7,...,8.2,8.5,7.9,8.1,8.6,7.9,7.8,8.4,7.9,:
38,"YR,F,Y82,LT",:,7.4,8.0,7.7,7.5,7.6,7.3,7.7,7.5,...,:,:,:,:,:,:,:,:,:,:
39,"YR,M,Y78,DK",:,9.5,9.5,9.1,9.3,9.3,9.1,9.3,8.9,...,:,:,:,:,:,:,:,:,:,:
40,"YR,F,Y64,LU",:,22.6,23.3,23.0,22.6 b,23.5,22.7,23.6,22.8,...,15.5,15.2,:,:,:,:,:,:,:,:
41,"YR,T,Y14,ES",:,68.7,70.3,69.8,69.7,69.8,69.3,69.6,69.5,...,:,:,:,:,:,:,:,:,:,:
42,"YR,F,Y43,RU",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
43,"YR,M,Y12,RU",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
44,"YR,M,Y42,NL",:,38.8,39.7,39.4,39.3,39.1,38.9,39.1,38.7,...,:,:,:,:,:,:,:,:,:,:
45,"YR,F,Y82,UK",:,:,:,8.6,8.6,8.7,8.3,8.8,8.5,...,:,:,:,:,:,:,:,:,:,:
46,"YR,T,Y51,DE_TOT",:,31.6,31.9,31.5,31.6,31.6,31.3,31.7,31.3,...,24.3,24.3,24.8,24.7,24.5,24.8,24.4,24.4,24.5,24.1
47,"YR,F,Y22,SI",:,61.6,62.8,62.6,62.4,62.6,62.2,62.4,62.0,...,:,:,:,:,:,:,:,:,:,:
48,"YR,M,Y37,GE",:,:,34.9,34.9,34.6,33.8,34.1,35.3,:,...,:,:,:,:,:,:,:,:,:,:
49,"YR,F,Y3,EEA31",:,:,:,80.9 ep,80.9 b,81.0,80.6 b,81.0 b,80.6,...,:,:,:,:,:,:,:,:,:,:

In [11]:
def clean_data(df, region) -> DataFrame:
    '''
    Function which cleans a DataFrame by:

    - Replacing ":" with NaN values
    - Renaming column "geo\time" for "region"
    - unpivot the dataframe
    - removing characters from value column
    - converting columns to the respetive type
    - dropping the null values
    - filtering the dataframe by region

    :param data: DataFrame to be cleaned and filtered.
    :return DataFrame: The clean dataframe.
    '''

    print("\nCleaning data...")

    # preprocessing categorical columns
    categorical_data = df.iloc[:, 0] \
                    .str.split(',', n=4, expand=True) \
                    .set_axis(["unit","sex","age","region"], axis=1)

    # select numerical df
    numerical_data = df.iloc[:,1:]

    # concat dataframes
    df_concat = pd.concat([categorical_data, numerical_data], axis=1)

    # replace ":" as NaN
    df_replaced_nulls = df_concat.replace(to_replace=':.*', value=np.nan, regex=True)

    # unpivot dataframe
    df_unpivot = pd.melt(
                    df_replaced_nulls, 
                    id_vars=list(df_replaced_nulls.iloc[:, :4].columns),
                    value_vars=list(df_replaced_nulls.iloc[:, 4:].columns),
                    var_name='year'
                )

    # remove strings from value column
    df_unpivot['value'] = df_unpivot['value'].str.replace('[^\d\-+\.]', '', regex=True)

    # convert value column into float
    df_unpivot['value'] = df_unpivot['value'].apply(pd.to_numeric, errors="raise")

    # convert "year" column to integer
    df_unpivot['year'] = df_unpivot['year'].astype(int)

    # drop nulls from "value" column
    df_clean = df_unpivot.dropna()

    # filter dataframe by desire region
    df_clean_filt = df_clean[df_clean["region"] == region]

    return df_clean_filt

In [12]:
df_clean= clean_data(df,"PT")

Cleaning data...

In [13]:
df.iloc[:, 0] \
                    .str.split(',', n=4, expand=True) \
                    .set_axis(["unit","sex","age","region"], axis=1)

      unit sex    age region
0       YR   F     Y1     AL
1       YR   F     Y1     AM
2       YR   F     Y1     AT
3       YR   F     Y1     AZ
4       YR   F     Y1     BE
...    ...  ..    ...    ...
14443   YR   T  Y_LT1     SM
14444   YR   T  Y_LT1     TR
14445   YR   T  Y_LT1     UA
14446   YR   T  Y_LT1     UK
14447   YR   T  Y_LT1     XK

[14448 rows x 4 columns]

In [1]:
import pandas as pd

In [5]:
pd.read_csv("/nfs/backup/wb_mci_fraude/jpraimundo/faast_advanced_course/assignments/life_expectancy/tests/fixtures/eu_life_expectancy_expected.csv", engine="python")

   unit sex  age region  year  value
0    YR   F  Y10     PT  2020   74.4
1    YR   F  Y10     PT  2019   75.1
2    YR   F  Y10     PT  2018   74.8
3    YR   F  Y10     PT  2017   74.8
4    YR   F  Y10     PT  2016   74.6
5    YR   F  Y10     PT  2015   74.5
6    YR   F  Y10     PT  2014   74.7
7    YR   F  Y10     PT  2013   74.3
8    YR   F  Y10     PT  2012   74.0
9    YR   F  Y10     PT  2011   74.1
10   YR   F  Y10     PT  2010   73.5
11   YR   F  Y10     PT  2005   71.9
12   YR   F  Y10     PT  2004   72.2
13   YR   F  Y10     PT  2003   71.3
14   YR   F  Y10     PT  2002   71.4
15   YR   F  Y10     PT  2001   71.2
16   YR   F  Y10     PT  2000   71.0
17   YR   F  Y10     PT  1999   70.4
18   YR   F  Y10     PT  1998   70.3
19   YR   F  Y10     PT  1997   70.1
20   YR   F  Y10     PT  1996   69.8
21   YR   F  Y10     PT  1995   69.8
22   YR   F  Y10     PT  1994   69.9
23   YR   F  Y10     PT  1993   69.0
24   YR   F  Y10     PT  1992   69.3
25   YR   F  Y10     PT  1991   68.7
26   YR   F  Y10     PT  1990   68.6
27   YR   F  Y10     PT  1989   69.1
28   YR   F  Y10     PT  1988   68.6
29   YR   F  Y10     PT  1987   68.5
30   YR   F  Y10     PT  1986   68.3
31   YR   F  Y10     PT  1985   67.9
32   YR   F  Y10     PT  1984   67.7
33   YR   F  Y10     PT  1983   67.6
34   YR   F  Y10     PT  1982   67.7
35   YR   F  Y10     PT  1981   67.2
36   YR   F  Y10     PT  1980   67.1
37   YR   F  Y10     PT  1979   66.9
38   YR   F  Y10     PT  1978   66.4
39   YR   F  Y10     PT  1977   66.2
40   YR   F  Y10     PT  1976   65.5
41   YR   F  Y10     PT  1975   65.4
42   YR   F  Y10     PT  1974   64.7
43   YR   F  Y10     PT  1973   64.6
44   YR   F  Y10     PT  1972   65.1
45   YR   F  Y10     PT  1971   64.5
46   YR   F  Y10     PT  1970   65.2
47   YR   F  Y10     PT  1969   64.1
48   YR   F  Y10     PT  1968   64.8
49   YR   F  Y10     PT  1967   64.6
50   YR   F  Y10     PT  1966   64.3
51   YR   F  Y10     PT  1965   64.8
52   YR   F  Y10     PT  1964   64.6
53   YR   F  Y10     PT  1963   64.6
54   YR   F  Y10     PT  1962   64.7
55   YR   F  Y10     PT  1961   64.5
56   YR   F  Y10     PT  1960   64.3